.header{
    display: flex;
    margin: 15px;
    
    background-color: #16697a;
    
    align-items: center;
    justify-content: space-between;

}
.header__left{
    display: flex;
    flex: 1;
    color: white;
}

.header__link:hover{
    background-color: gray;
}
.header__link{
    padding: 15px;
    cursor: pointer;
    background-color: #16697a;
    color: white;
    text-decoration: none;
}
.header__right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.header__icons{
    padding-left: 20px;
}
.header__right>h3{
    padding-left: 20px;
}