.deploymentInfo{
    display: flex;
}
.deploymentInfo__left{
    display: flex;
    flex-direction: column;
    flex: 0.3;
    background-color: darkgrey;
    margin-top: -15px;
    margin-left: 15px;
    height: 100vh;
    padding: 20px;
    color: #053f4b;
}
.deploymentInfo__right{
    flex :0.6;
    display: flex;
    justify-content: flex-end;
   
}
